.infographics__main {
  box-sizing: border-box;
  display: grid;
  height: 85vh;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 2rem;
  position: relative;
  z-index: 2;
}

.infographics__title {
  margin-top: 0;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.infographics-page {
  /* height: 100vh; */
  padding: 1rem 0;
  /* background-color: #d7edf7; */
  background-color: rgba(47, 63, 108, 0.05);
}
