.infographics-item {
  height: 150px;
  width: 21%;
  margin: 15px 0;
  box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.274);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.infographics-item:hover {
  transform: translateY(-7%);
  box-shadow: 0px 0px 4px 7px rgba(82, 160, 219, 0.274);
}
.infographics__img {
  width: 3rem;
  height: 3rem;
  background-color: #e3e9f0;
  border-radius: 50%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infographics__img svg {
  width: 1.5rem;
  height: 1.5rem;
}

.infographics__info {
  padding: 1.3rem 0;
  height: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infographics__info h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: left;
  /* flex-grow: 1; */
  margin: 0;
}

.infographics__info h3 {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}
