.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chart {
  width: 40%;
}

.info-page {
  background-color: rgba(47, 63, 108, 0.05);
  padding: 0.1rem 0;
  height: 100vh;
  position: relative;
}

.info-page__btn {
  position: absolute;
  top: 2rem;
  right: 5rem;
  background-color: #6795dd;
  border: none;
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
