.home-page h1 {
  text-align: right;
}

.home-page__header {
  background: url("../../imgs/nebo-oduvanchik-cvetok-fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page__header::after {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 251, 251, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}

.home-page__header h1 {
  position: relative;
  z-index: 1;
  margin-left: auto;
  width: 70%;
}
.home-page__infographics {
  height: 60vh;
  padding: 30px 0 0;
  background-color: #f5f7f9;
}

.infographics__subtitle {
  text-align: left;
}
.infographics__indicators {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-page__branches {
  height: 40vh;
  padding: 30px 0 70px;
}

.branches__info {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  flex-flow: row wrap;
}
.text {
  margin-bottom: 90px;
}
.text p {
  color: rgb(134, 135, 139);
  max-width: 780px;
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.title {
  text-transform: uppercase;
  margin-bottom: 4rem;
}
